<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/create}" th:object="${user}">

    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name" required>
    <br>

    <label for="lastName">Last Name:</label>
    <input type="text" th:field="*{surname}" id="lastName" required>
    <br>

    <label for="login">Login:</label>
    <input type="text" th:field="*{username}" id="login" required>
    <br>

    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password" required>
    <br>

    <label>Roles:</label><br>
    <div th:each="role : ${allRoles}">
        <input type="checkbox" name="roles" th:value="${role.id}"
               id="role_${role.id}">
        <label th:for="'role_' + ${role.id}" th:text="${role.name}"></label><br>
    </div>

    <br>
    <input type="submit" value="Save">
</form>
</body>
</html>