<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Username</th>
        <th>Password</th>
        <th>Roles</th>
    </tr>

    <tr th:each="user : ${attribute}">
    <td th:utext="${user.id}"></td>
    <td th:utext="${user.name}"></td>
    <td th:utext="${user.surname}"></td>
    <td th:utext="${user.username}"></td>
    <td th:utext="${user.password}"></td>
    <td th:utext="${user.getRolesToString()}"></td>
    </tr>

</table>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

<br>
<a th:href="@{/admin}">Back</a>

</body>
</html>