<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Login</th>
        <th>Roles</th>

    </tr>
    <tr th:each="user : ${attribute}">

        <td th:utext="${user.id}"></td>
        <td th:utext="${user.name}"></td>
        <td th:utext="${user.surname}"></td>
        <td th:utext="${user.username}"></td>
        <td th:utext="${user.getRolesToString()}"></td>
        <td>
            <a th:href="@{'/edit/' + ${user.id}}">Edit</a>
        </td>
        <td>
            <a th:href="@{'/delete/' + ${user.id}}">Delete</a>
        </td>

    </tr>
</table>

<br>
<a th:href="@{/addNewUser}">Add</a>
<br>
<a th:href="@{/myInfo}">My info</a>
<br>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>


</body>
</html>